/*
 * 360度旋转动画
 */
@keyframes rotation
{
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@-moz-keyframes rotation /* Firefox */
{
	from {
		-moz-transform: rotateZ(0deg);
	}
	to {
		-moz-transform: rotateZ(360deg);
	}
}

@-webkit-keyframes rotation /* Safari 和 Chrome */
{
	from {
		-webkit-transform: rotateZ(0deg);
	}
	to {
		-webkit-transform: rotateZ(360deg);
	}
}


/**
 * 	呼吸动画
 */
@keyframes zoom-in-and-out
{
	0% {
		transform: scale(0.3);
	}
	100% {
		transform: scale(1);
	}
}

@-moz-keyframes zoom-in-and-out /* Firefox */
{
	0% {
		-moz-transform: scale(0.3);
	}
	100% {
		-moz-transform: scale(1);
	}
}

@-webkit-keyframes zoom-in-and-out /* Safari 和 Chrome */
{
	0% {
		-webkit-transform: scale(0.3);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

/**
 * 	往下移动效果
 */
@keyframes move-down
{
	0% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(5px);
	}
}

@-moz-keyframes move-down /* Firefox */
{
	0% {
		-moz-transform: translateY(-5px);
	}
	100% {
		-moz-transform: translateY(5px);
	}
}

@-webkit-keyframes move-down /* Safari 和 Chrome */
{
	0% {
		-webkit-transform: translateY(-5px);
	}
	100% {
		-webkit-transform: translateY(5px);
	}
}

/**
 * 	往上移动效果
 */
@keyframes move-up
{
	0% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(-5px);
	}
}

@-moz-keyframes move-up  /* Firefox */
{
	0% {
		-moz-transform: translateY(5px);
	}
	100% {
		-moz-transform: translateY(-5px);
	}
}

@-webkit-keyframes move-up /* Safari 和 Chrome */
{
	0% {
		-webkit-transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(-5px);
	}
}
